<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="profil.css">
</head>
<body>

    <!-- Header Section -->
    <div class="header">
        <img src="logo.jpg" alt="Logo" />
        <span class="logo-text">PEDULI DONASI</span> 
        <div class="profile-icon">
            <img src="icon.jpg"Profile Icon" />
        </div>
    </div>

    <!-- Profile Section -->
    <div class="profile-container">
        <img src="ppro.jpg" alt="Alyssia Putri Cara">
        <h2>Alyssia Putri Cara</h2>
        <div class="contact-info">
            <p><strong>Email:</strong> <a href="mailto:aliciaaaa@gmail.com">aliciaaaa@gmail.com</a></p>
            <p><strong>Telephone:</strong> <a href="tel:0812-5354-1023">0812-5354-1023</a></p>
        </div>
        <button class="logout-btn">Log Out</button>
    </div>

</body>
</html>
